
body{
    background-color: rgb(223, 214, 201);
}

#principal{
    background-color:  rgb(241, 238, 233);
    width: 35%;
    height: 400px;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
        
}

#titu{
    background-color: rgb(241, 238, 233);
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 13px;
    display: flex;
    align-items: center;
    
}

#blockal{
    background-color: rgb(241, 238, 233);
    width: 33%;
    height: 50px;
}

#cabe{
    background-color: rgb(241, 238, 233);
    width:100%;
    height: 50px;
    text-align: left;
    font-size: 13px;
    align-items: center;
    display:flex;
    margin-bottom:0;
}

#Ind1{
    width: 400px;
    height: 50px;
    background-color: rgb(241, 238, 233);
    height: 50px;
    padding-left: 20px;
}

#img{
    background-color: rgb(241, 238, 233);
    text-align: center;
    margin:0;
    padding:0;

}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-left: 20px;
    margin-right: 50px;
}

#principal1{
    background-color:  rgb(241, 238, 233);
    width: 35%;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
    padding-bottom: 30px;
        
}

#principal2{
    background-color:  rgb(241, 238, 233);
    width: 35%;
    height: 520px;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
    padding-bottom: 30px;
}